extends layout

block content
	h1(class="title")=question.question
	div

		ol
			h4(class="option")=question.option1
		ol
			h4(class="option")=question.option2
		ol
			h4(class="option")=question.option3
		ol
			h4(class="option")=question.option4

		a(class="next btn") Next
		a(href="/newQuestion" class="newq btn") New Question
	
